<%= form_for (@post) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <br>
  <%= f.label :content %>
  <%= f.text_area :content %>
  <br>
  <%= f.label :category_ids, "Catagories" %>
  <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name )%>
  <br>
  <p>
    New Catagory:
    <%= f.fields_for :categories do |catagory_field| %>
     <%= catagory_field.text_field :name %>
    <% end %>
  </p>

  <%= f.submit %>
<% end %>
