<h1><%= @post.title %></h1>

<p><%= @post.content %></p>

<ul>
  <% @post.categories.each do |category| %>
    <li><%= category.name %></li>
  <% end %>
</ul>

<% @post.comments.each do |comment| %>
  <p><%= comment.user.username %> says <%= comment.content %></p>
<% end %>

<p>Commentors:</p>
<ul>
  <% @post.user.distinct.each do |user| %>
    <li><%=link_to user.username, user_path(user) %></li>
  <% end %>
</ul>
